table {
    width: 100%;
  }

.padding{
  padding-bottom: 100pt;
}

.center{
  margin: auto;
  width: 50%;
  padding: 10px;
}
.spacer{
 padding-right: 20pt; 
}

.button-row button{

  margin:10px;

}
.search-form-field
{

  margin:20px;
}

.table-card{
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}