<style>
  .post-mat-card {
    width: calc(90%);
    font-size: 0;
    margin: auto;
  }
  .header-image { /*agregar el url del avatar del usuario*/
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
  a {
    text-decoration: none;
  }
  .limited-size {
    max-width: calc(100%);
  }
</style>

<div>
<mat-card class="post-mat-card">

  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>
      <a href="https://www.shutterstock.com/es/search/example+stamp?image_type=illustration">
        {{name}} {{lastname}}
      </a>
    </mat-card-title> <!-- Cambiar Shiba Inu por el nombre del usuario y el link por su homepage-->
  </mat-card-header>

  <mat-card-content>
    <p id="post content description">
      {{descripcion}}
    </p>



      <div *ngFor="let element of arrayimage">
       <img [src]=element alt="Image from post" class="limited-size">


      <!-- Debería ir un for cuando se tengan multiples multimedias -->

    </div>
  </mat-card-content> <!-- Cambiar Shiba Inu por el post real -->

  <mat-card-actions align="end">
    <button mat-button color="primary" (click)="likePost()" id="like">Like ({{fullPost.likes}})</button>
    <button mat-button color="primary" (click)="dislikePost()" id="dislike">disLike</button>
    <button mat-button (click)="getComments()" id="seecomments">See</button>

    <button mat-button (click)="openDialog()" id="buttonFlagPost">
      <mat-icon>flag</mat-icon>
    </button>

  </mat-card-actions>

</mat-card>

<!--Solucione el problema del ngFor e ngIf agregando al textarea de los forms "matInput"-->
  <div *ngIf="havePosts">
    <div *ngFor="let a of studentData">
      <app-comment
        [customText]="a"

      >
      </app-comment>
    </div>
  </div>
</div>
