.imagehome{

    height:490px;
    cursor: pointer;
    }
    .form{
  
  
      height:60%;
      width:65%;
  
      }
      .but{
        
        height:10%;
        font-size: 25px;
        color:black;
  
      }