.text{
    font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 47px;
padding: 15px;
}
.example-full-width{

    padding: 15px;


}
table, th, td {
   
    padding: 10px;
  }
  table {
    border-spacing: 15px;
  }
  .box{
    width: 500px;
  }