<div *ngIf="home=='HomeArtist'">
  <app-ArtistNavegation></app-ArtistNavegation>
</div>
<div *ngIf="home=='HomeFanatic'">
  <app-fanaticnavigation></app-fanaticnavigation>
</div>

<div class="padding"></div>
<table style="margin-left: auto;margin-right: auto; width: 80%;height: 100%; border: 1px solid black;">
  <div class="headbar">
    <div style="display: inline-flex;">
      <img src="https://cdn.discordapp.com/attachments/866839251563446272/893007021786419200/Logo_Fortlom_JavaBoys.png" class="logo">
      <h1 style="padding-top: 15px;">Fortlom ChatBot</h1>
    </div>
  </div>
  <div class="list-messages">
    <div *ngFor="let message of messages" class="message-container">
      <app-message class="message" [text]="message.text!" [date]="message.date" [colorBackRight]="colorBackRight" [colorFontRight]="colorFontRight"
      [colorBackLeft]="colorBackLeft" [colorFontLeft]="colorFontLeft" [owner]="message.userOwner!"
      [ngClass]="{'left-message': !message.userOwner, 'right-message': message.userOwner}"></app-message>
    </div>
  </div>
  <div class="input-message form-group" style="border: 1px solid black;">
    <textarea class="input-text-message form-input" [(ngModel)]="textInput" placeholder="Type text here" (keyup)="onKey($event)"></textarea>
    <i class="input-send" aria-hidden="true" (click)="sendMessage()">
      <mat-icon>send</mat-icon>  
    </i>
  </div>
</table>
<div class="padding"></div>