<mat-toolbar class="Homebar">
  <img src="https://cdn.discordapp.com/attachments/866839251563446272/893007021786419200/Logo_Fortlom_JavaBoys.png"
  class="logo">

<div class="options">

<a  mat-button (click)=" enterhome()">Home</a>

<a  mat-button (click)="enterposts()" >Posts</a>

<a  mat-button (click) = "enterEvent()">Event</a>

<a  mat-button (click)=" enterForum()">Forum</a>

<a  mat-button (click)="enterConfigurationArtist()" id="configure">Configure</a>

<a  mat-button (click)="LogOut()">Log Out</a>

</div>


</mat-toolbar>