
<app-navegation></app-navegation>
<p class="text">Elije el tipo de contenido</p>
<mat-form-field appearance="fill" class="example-full-width">
  <mat-label>Elija un contenido</mat-label>
  <mat-select [(ngModel)]="selectedValue">
    <mat-option value="event">Evento</mat-option>
    <mat-option value="publication">Publicación</mat-option>
  </mat-select>
</mat-form-field>
<button mat-raised-button (click)="change()">Ver</button>
<div class="erd" *ngIf="isevent">
<table style="width:100%">
 <tr  *ngFor="let element of dataSource.data">
  <th>
    Nombre:{{element.name}}
  </th>
  <th>
    Autor:{{element.artist.realname}}
  </th>
  <th>
    description:{{element.description}}
  </th>
  <th>
    <button mat-raised-button (click)="select(element.id)">
      <mat-icon>remove_red_eye</mat-icon>
    </button>
   
  </th>
 </tr>
</table>
</div>

<div class="erd" *ngIf="ispublication">
  <table style="width:100%">
   <tr  *ngFor="let element of dataSource.data">
    <th>
      Autor:{{element.artist.realname}}
    </th>
    <th>
      description:{{element.description}}
    </th>
    <th>
      <button mat-raised-button (click)="select(element.id)">
        <mat-icon>remove_red_eye</mat-icon>
      </button>
     
    </th>
   </tr>
  </table>
  </div>