<app-navegation></app-navegation>
<mat-form-field appearance="fill" class="example-full-width">
  <mat-label>Tipo de usuario</mat-label>
  <mat-select [(ngModel)]="selectedValue">
    <mat-option value="option1">Artista</mat-option>
    <mat-option value="option3">Fanatico</mat-option>
  </mat-select>
</mat-form-field>

<div class="erd">
<table style="width:100%">
 <tr>
  <th>
    <div mat-card-avatar class="example-header-image"></div>
  </th>
  <th>
    Nombre:Rodriguez
  </th>
  <th>
    Denuncia:9
  </th>
  
  <th>
    <button mat-raised-button>
     Ban
    </button>
   
  </th>
 </tr>





</table>

</div>
