<app-navegation></app-navegation>
<mat-form-field appearance="fill" class="example-full-width">
  <mat-label>Tipo de usuario</mat-label>
  <mat-select [(ngModel)]="selectedValue">
    <mat-option value="artist">Artista</mat-option>
    <mat-option value="fanatic">Fanatico</mat-option>
  </mat-select>
</mat-form-field>
<button mat-raised-button (click)="change()">Ver</button>
<div class="erd" *ngIf="isartist">
<table style="width:100%">
 <tr *ngFor="let element of dataSource.data">
  <th>
    <div mat-card-avatar class="example-header-image"></div>
  </th>
  <th>
    Nombre:{{element.realname}}
  </th>
  <app-setreport [iduser]="element.id"></app-setreport>
  
  <th>
    <button mat-raised-button (click)="banartist(43)">
     Ban
    </button>
   
  </th>
 </tr>





</table>

</div>

<div class="erd" *ngIf="isfanatic">
  <table style="width:100%">
   <tr *ngFor="let element of dataSource.data">
    <th>
      <div mat-card-avatar class="example-header-image"></div>
    </th>
    <th>
      Nombre:{{element.realname}}
    </th>
    <app-setreport [iduser]="element.id"></app-setreport>
    
    <th>
      <button mat-raised-button (click)="banfanbatic(element.id)">
       Ban
      </button>
     
    </th>
   </tr>
  
  
  
  
  
  </table>
  
  </div>
