.logo{
    border-radius: 10%;
  
    width: 60px;
    display: block;
    cursor: pointer;
  }
  .options a{
  
    font-family:'Times New Roman', Times, serif;
    color:whitesmoke;
    font-size: 30px;
  
  
    }
  
    .Homebar{
      background: black;
  
    }