

<app-fanaticnavigation></app-fanaticnavigation>


<div class="basic-container">
  <h1 style="padding-left: 40px;padding-top: 10px; font-size: 38px">ARTISTS</h1>
  <mat-grid-list cols="2" rowHeight="500px">
    <mat-grid-tile *ngFor="let i of artistList">
      <mat-card [style.width]="'50%'">
        <div fxLayout="row">
          <div fxFlex="10">
            <img src="https://www.cultura.gob.ar/media/uploads/musicos2.jpg"
                 alt="Smiley face" width="100%">
          </div>

          <div fxFlex fxFlexAlign="center">
            <div fxLayout="row">
              This is artist {{i.id}}
            </div>
            <div fxLayout="row">
              <mat-icon [style.color]="'orange'">star</mat-icon>
              <mat-icon [style.color]="'orange'">star</mat-icon>
              <mat-icon [style.color]="'orange'">star</mat-icon>
              <mat-icon [style.color]="'orange'">star_half</mat-icon>
            </div>



              <app-rate [idcomment]="i.id" id="rateartist"></app-rate>

          </div>
            {{i['artistfollowers']}}
            <a mat-button (click)="follow(i)" target="_blank" id="followartistasfan">
              <mat-icon>favorite</mat-icon>
              FOLLOW
            </a>
            <a mat-button (click)="unfollow(i)" target="_blank" id="unfollowartistasfan">
              <mat-icon>favorite</mat-icon>
              UNFOLLOW
            </a>

        </div>
      </mat-card>

    </mat-grid-tile>
  </mat-grid-list>
</div>
