

<app-fanaticnavigation></app-fanaticnavigation>


<div class="basic-container">
  <h1 style="padding-left: 40px;padding-top: 10px; font-size: 38px">ARTISTS</h1>
  <mat-grid-list cols="2" rowHeight="500px">
    <mat-grid-tile *ngFor="let i of artistList">
      <mat-card [style.width]="'50%'">
        <div fxLayout="row">
          <div fxFlex="10">
            <app-imageforlist [artist]="i.id"></app-imageforlist>
          </div>

          <div fxFlex fxFlexAlign="center">
            <div fxLayout="row">
              This is artist {{i.realname}} {{i.lastname}}
            </div>
            <div fxLayout="row">
              <mat-icon [style.color]="'orange'">star</mat-icon>
              <mat-icon [style.color]="'orange'">star</mat-icon>
              <mat-icon [style.color]="'orange'">star</mat-icon>
              <mat-icon [style.color]="'orange'">star_half</mat-icon>
            </div>



              <app-rate [idcomment]="i.id" id="rateartist"></app-rate>

          </div>
            <app-follows [artist]="i"   [user]="idnumber"></app-follows>

        </div>
      </mat-card>

    </mat-grid-tile>
  </mat-grid-list>
</div>
