
.full{
    width:100%;
    height:100%;
   background-color:gray;
  
  }
  .content h1{
  font-family: 'Times New Roman', Times, serif;
  font-size:100px;
  text-align: center;
  padding-top: 200px;
  
  }