<app-ArtistNavegation></app-ArtistNavegation>

<div align="end" class="mats">

  <button mat-fab class="add" (click)="insertforum()" id="add"><mat-icon>add</mat-icon></button>


  </div>

  <div *ngFor="let element of dataSource.data">
  <mat-card class="card">
    <mat-card-title class="title" id="forumtitle">{{element.forumname}}</mat-card-title>
    <mat-card-actions align="end">
      <button mat-button (click)="enterforumpage(element.id)" id="enterforum"><mat-icon>flag</mat-icon></button>
    </mat-card-actions>
  </mat-card>

  </div>
