<mat-toolbar class="Homebar">
  <img src="https://cdn.discordapp.com/attachments/866839251563446272/893007021786419200/Logo_Fortlom_JavaBoys.png"
  class="logo">

<div class="options">

  <a  mat-button (click)="enterHome()">Home</a>

<a  mat-button  (click)="enterevent()">Event</a>

<a  mat-button  (click)="enterartists()">Artists</a>

<a mat-button (click)="enterfanaticforum()">Fanatic forum</a>


<a  mat-button (click)="enterPublication()">Publication</a>

<a  mat-button (click)="enterConfigurationFanatic()">Configure</a>

<a  mat-button (click)="Logout()">Log Out</a>

</div>


</mat-toolbar>