.area
{

width: 100%;
height: 100%;
margin-top: 30px;
}
.but{

  height:10%;
  font-size: 20px;
  color:black;
  background-color:#9CC7EF
}
.con{
margin-left: 50px;

margin-bottom: 10px;
width: 50%;
  border-color: black;
}