

<app-fanaticnavigation></app-fanaticnavigation>

<mat-card [formGroup]="createform">
  <mat-card-title>Create Forum</mat-card-title>
  <mat-card-header>
  <h2>Insert name:</h2>
  <input formControlName="name" class="con" [(ngModel)]="Forum.forumname"  type="name"  id="exampleInputalias" placeholder="Forum Name" required id="forumname">
        <mat-error  *ngIf="createform.controls['name'].dirty && createform.hasError('required','name')">Es requerido</mat-error>
  
  </mat-card-header>
  <mat-form-field appearance="fill" class="area" >
    <mat-label>Description </mat-label>
    <textarea formControlName="description" [(ngModel)]="Forum.forumdescription" matInput type="description" id="forumdescription"></textarea>
  </mat-form-field>
  <mat-card-footer align="end">
  
  
  <button mat-button class="but" [disabled]="!createform.valid" (click)="crearforo()" id="createforum">Create</button>
  
  
  </mat-card-footer>
  
  
  </mat-card>
