.imagehome{

    height:490px;
    cursor: pointer;
    }
  .pp{
  
  font-size: 35px;
  text-align: center;
  }
  .form{
  
  
  height:60%;
  width:65%;
  
  }
  .but{
    
    font-size: 25px;
    color:black;
  
  }
  .oo{
  height: 200%;
  
  }
  .link{
  
    font-size: 15px;
    word-spacing:10px;
  
    line-height: 100px;
  }