table {
    width: 100%;
  }

.padding{
  padding-bottom: 100pt;
}

.minipadding{
  padding-bottom: 10pt;
}

.center{
  margin: auto;
  width: 50%;
  padding: 10px;
}
.spacer{
 padding-right: 20pt; 
}

.example-card {
  background-color: #CCCCCC;
  color:#000000;
  margin: auto;
  width: 50%;
  padding: 20px;
}

.example-form-card {
  background-color: white;
  color:#000000;
  margin: auto;
  width: 50%;
  padding: 20px;
}

.example-header-image {
  background-image: url('https://i.pinimg.com/236x/37/c8/51/37c851a36c42af61f36f1201222e6b7b.jpg');
  background-size: cover;
}

.buttonspacer{
  width: 100px; 
  margin-left: 100%;
  transform: translateX(-100%);
}

.button{
  background-color: #9CC7EF;
  color: #000000;
}

.image{
  border-radius: 25pt;
  width: 100%;
  margin: auto;
}

.spaceshort{
  padding-right: 100px;   
}
.example-card-event{
  max-width: 1000px;
  width: 50%;
}

.centerbuttons{
  text-align: center;
}

.buttonShow{
  background-color: #9CC7EF;
  color: #000000;
  width: 50%;
}

.withoutborder{
  border:0;
}