


<app-navegation></app-navegation>
<mat-drawer-container class="example-container">
  <mat-drawer mode="side" opened class="side">

     <div>
      <img src="https://cdn.discordapp.com/attachments/1008578583251406990/1033904793615343709/Paul_Circle_2.png">
      <p class="name">Rodolfo</p>
      <p class="name">Canchito</p>
     </div>

  </mat-drawer>
  <mat-drawer-content class="content">
    
    <div class="center">
    <table style="width:100%">
      <tr>
        <th>
          <div class="center">
            <button class="button" (click)="create()">
            <img src="https://cdn.discordapp.com/attachments/1008578583251406990/1033893261347143761/3658773_1_1.png">
            </button>
          </div>
         
        </th>
        <th  >
         
          <div class="center">
            <button class="button" (click)="delete()">
            <img src="https://cdn.discordapp.com/attachments/1008578583251406990/1033893862286045264/401036_1.png">  
          </button>
          </div>
       

       
        </th> 
        
      </tr>
      <tr class="set">
        <th>Crear</th>
        <th>Eliminar</th> 
        
      </tr>
      <tr>
        <th>
          
        </th>
      </tr>
    </table>
    </div>
    <div class="center">
      <table style="width:100%">
        <tr>
          <th>
            <div class="center">
              <button class="button" (click)="ban()">
              <img src="https://cdn.discordapp.com/attachments/1008578583251406990/1033900640474255461/image_32.png">
              </button>
            </div>
           
          </th>
         
          
        </tr>
        <tr class="set">
          <th>Banear</th>
        </tr>
      
      </table>
      </div>


  



  </mat-drawer-content>
</mat-drawer-container>
